<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>LogHub</title>
    <script src="https://unpkg.com/htmx.org@1.9.12" defer></script>
    <link rel="stylesheet" href="/static/css/tailwind.css" />
    <style> a{color:#0a6} form .actions{margin-top:1rem} </style>
  </head>
  <body hx-boost="true">
    <header class="toolbar">
      <h1 style="margin:0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
        <a href="/logbook/" style="text-decoration:none" class="logo-font">LogHub</a>
      </h1>
      <nav class="stack">
        <a class="btn" href="/logbook/">Logbook</a>
        <a class="btn" href="/logbook/imports/">Imports</a>
        <a class="btn" href="/logbook/imports/new/">Import</a>
      </nav>
    </header>
    {% block content %}{% endblock %}
  </body>
  
</html>
